Repository mrcbq/catalog-of-my-things, pull requests merged in 2023-08, with the labels that each got.

#54 Feature/create item and menu
  .rubocop.yml
  Gemfile
  Gemfile.lock
  lib/app.rb
  lib/item.rb
  main.rb
Labels: good first issue

#60 Add unit tests for all implemented methods
  .rspec
  lib/app.rb
  lib/author.rb
  main.rb
  spec/author_spec.rb
  spec/game_spec.rb
  spec/load_game_author_spec.rb
  spec/save_game_author_spec.rb
  spec/spec_helper.rb
Labels: Testing

#62 Catalog App Databases.
  lib/game.rb
  schema.sql
Labels: sql

#64 Feature/music genre schema
  schema.sql
Labels: sql
